.App {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    background: #232323;
}
.section-title {
    margin: 3em 0;
    font-size: 2.5em;
}
.form {
    margin: 3em 0;
}
.btn {
    background: #cccccc;
    color: #232323;
    text-transform: lowercase;
    font-weight: 700;
    padding: 1.5em 2em;
    border-radius: 0.2rem;
}
