@import './general';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    margin: 0;
    font-family: $font-primary;
}
p {
    font-family: $font-secondary;
}
