.estate-container {
    padding: 30px;
    font-size: 1.6rem;
    background: rgba(106, 206, 245, 0.1);
    min-height: 200px;
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
    min-height: 250px;

    .btn {
        padding: 5px;
        font-size: 1.4rem;
        margin: 0 5px 0 0;
    }
}
.my-estate {
    max-width: 90%;
    padding: 2em 4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.estate-description {
    & > * {
        margin: 1em 0;
    }
    &_offers,
    &_comments {
        font-family: 'Montserrat', sans-serif;
        padding: 0.5em 1em;
        border-radius: 0.2em;
        background: #000;
        color: #ffffff;
        margin-right: 0.5em;
    }
}
