.spinner-ellipse {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: spin 0.6s linear infinite;
    transform: rotateZ(0deg);
}
@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}
